<!-- start card -->
<div class="card film art" data-id={{id}}>
  <a target="_blank" href="{{source}}" class="thumb">
    <img src="{{img}}" alt="" title="{{title}}" />
    <span class="overlay"><span class="fa fa-search"></span></span>
  </a>
  <div class="card-body">
    <a href="http://instagram/{{username}}" class="username">
      <img src="http://avatars.io/instagram/{{username}}"> {{username}}
    </a>
    <h2><a href="{{source}}" target="_blank">{{{title}}}</a></h2>
    <p>{{{body}}}</p>
    <p><a href="{{source}}"></a>
    </p> 
  </div>
  <!-- end card-body -->
  <div class="card-footer">
    <ul class="list-inline filters" style="display:none">
      <li><a href="#none">Facebook</a>
      </li>
      <li><a href="#none">Twitter</a>
      </li>
    </ul>
  </div>
  <!-- end card-footer -->
</div>
<!-- end card -->