<li class="mid clear"  tid="{{id}}">
  <div class="figure-item">
		<figure style="background-image:url('{{img}}')">
			<a class="thing-url" rel="thing-{{id}}" href="{{source}}">
				<span class="back"></span>
			</a>
		</figure>
		<figcaption>
			<a class="title thing-url" rel="thing-{{id}}" href="{{source}}">{{body}}</a>
			<em class="figure-detail">
          <span class="username">
						<a href="/{{username}}">{{username}}</a>
						<i> · </i>
				  </span>
					<span class="price">$69 <small>USD</small></span>
          
			</em>
		</figcaption>
	</div>
</li>