<!-- start card -->
<div class="card film art" data-id={{id}}>
    <video id="{{id}}" class="sublime" poster="{{img}}" width="640" height="360" title="Midnight Sun" data-uid="{{id}}" preload="none">
      <source src="{{vid}}" />
    </video>
   
  <div class="card-body">
    <a href="http://instagram/{{username}}" class="username">
      <img src="http://avatars.io/instagram/{{username}}"> {{username}}
    </a>
    <h2><a href="{{source}}" target="_blank">{{{title}}}</a></h2>
    <p>{{{body}}}</p>
    <p><a href="{{source}}"></a>
    </p> 
  </div>
  <!-- end card-body -->
  <div class="card-footer">
    <ul class="list-inline filters" style="display:none">
      <li><a href="#none">Facebook</a>
      </li>
      <li><a href="#none">Twitter</a>
      </li>
    </ul>
  </div>
  <!-- end card-footer -->
</div>
<!-- end card -->